body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f4ef;
    padding: 30px;
    color: #020826;
    /* background-image: url();
    background-position: center;
    background-size: cover; */
}

.app {
    max-width: 600px;
    margin: 0 auto 300px;
    background-color: #eaddcf;
    padding: 20px 30px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

h2 {
    margin-bottom: 10px;
}

p {
    margin: 10px 0;
}

input {
    box-sizing: border-box;
}

button {
    background-color: #8c7851;
    color: #fffffe;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    opacity: .8;
    transition: .3s;
}

button:hover {
    opacity: 1;
}

.todo-form {
    padding-bottom: 1.5rem;
}

input, select {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 100%;   
}

.complete {
    background-color: #020826;
}

.remove {
    background-color: #fa5246;
}
