:root {
  --bg-1: #fffffe;
  --bg-2: #d1d1e9;
  --btn-color: #6246ea;
  --btn-color-2: #8bd3dd;
  --btn-color-3: #e45858;
  --btn-txt-color: #fffffe;
  --text-color: #2b2c34;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: radial-gradient(circle,
      rgba(238, 174, 202, 1) 0%,
      rgba(148, 187, 233, 1) 100%);
  padding: 30px;
  color: var(--text-color);
  /* background-image: url();
    background-position: center;
    background-size: cover; */
}

.app {
  max-width: 600px;
  margin: 0 auto 300px;
  background-color: var(--bg-2);
  padding: 20px 30px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

p {
  margin: 10px 0;
}

input {
  box-sizing: border-box;
}

button {
  background-color: var(--btn-color);
  color: var(--btn-txt-color);
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
  margin-right: 10px;
  border-radius: 3px;

  /*Novos Estilos*/
  padding: 8px 14px;
  font-size: 1rem;
  border-radius: 6px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-weight: 600;
}

button:hover {
  opacity: 1;
  transform: scale(1.05);
}

.todo-form {
  padding-bottom: 1.5rem;
}

input,
select {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
}

.complete {
  background-color: var(--btn-color);
}

.remove {
  background-color: var(--btn-color-3);
}

.todo-list {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #020826;
}

.todo {
  background-color: var(--bg-1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /*Novos Estilos*/
  padding: 15px 20px;
  border-radius: 10px;
  gap: 15px;
}

@media (max-width: 600px) {
  .app {
    padding: 15px 20px;
  }

  button {
    width: 100%;
    margin: 5px 0;
  }

  .todo {
    flex-direction: column;
    align-items: flex-start;
  }
}